
#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  /* background-color: #41f73b;  */
  /* color: white;  */
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
  background-color: #1B8E18;
}

/* Logo container */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

/* Logo image styling */
.logo {
  width: 120px;
  height: auto;
}

/* Horizontal line */
.line {
  border: 0;
  border-top: 1px solid rgba(240, 234, 234, 0.2); /* Line color */
  margin: 20px 0;
}

/* List styling */
.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex: 1;
}

/* List items */
.sidebar ul li {
  padding: 10px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Item separator color */
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

/* Remove border from the last list item */
.sidebar ul li:last-child {
  border-bottom: none;
}

/* Active list item */
.active {
  color: black; /* Active item text color */
  font-weight: bold; /* Bold text for active item */
  background-color: transparent; /* Active item background color */
}

.active::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 200px; /* Width of the active indicator */
  height: 60%; /* Height of the active indicator */
  /* background-color: green; */
  border-radius: 50px; /* Rounded corners */
  transform: translateY(-50%);
  z-index: -1; /* Ensure the indicator is behind the text */
}

/* Dashboard list item */
.dashboard {
  display: flex;
  align-items: center;
  padding: 10px;
  transition: background-color 0.3s; /* Smooth transition for background color */
}

/* Icon styling */
.icons {
  margin-right: 10px;
  font-size: 20px; /* Size of icons */
}

/* Navigations container */
.navigations {
  position: absolute;
  bottom: 26px; /* Distance from the bottom */
}

/* List item span */
.sidebar ul li span {
  flex: 1;
}

