.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.logoimage{
    width: 70%;
    height: 119%;
    margin-left: 266px;
}

.image{
    background-image: url('/public/Images/teafarmer.jpg');
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    height: 98.5vh;
    width: 100%;
    /* display: flex; */
    align-items: center;
    margin-left: 200px;
    margin-top: -50px;
    padding: 20px;
}

.termstext{
    display: flex;
    margin-top: 330px;
    position: absolute;
    left: 15%;

}
#custom-acc {
    text-align: left;
    justify-content: left;
    align-items: left;
    margin: 0 auto;
}

#checkbox{
    margin-top: -7px;
    width: 10px;
}

#endtext{
    margin-left: 60px;
}

#termsagree{
    white-space: nowrap;
    font-size: 10px;
    margin-top: 2px;
}

.signup-container{
    margin-left: 100px;
    flex: 1;
    max-width: 400px;
    margin-top: 0px;
     
}

.headings{
    font-size: 14px;
}

#signuptext{
    white-space: nowrap;
    margin-top: 0px;
}

#signupbtn{
    background-color: green;
    padding: 10px;
    color: white; 
    width: 40%;
    margin-left: 130px;
    margin-top: 20px;
} 

#logincall{
    color: blue;
}

.input{
    padding: 9px;
    border: 1.5px solid;
    border-color: green;
    align-items: center;
    width: 120%;
    border-radius: 10px; 
}

#login-btn{
    margin-left: 80px;
    font-size: 15px;
    white-space: nowrap;
}

.input-error {
    border-color: #ff0000;
}

.error-message{
    /* content: "⚠ ";   */
        color: #ff0000;
        font-size: 8px;
    margin-top: 0px;
    /* position: absolute; */
    /* bottom: 20px; */
    left: 0;
}


@media screen and (min-width:280px) and (max-width:360px){
    .container{
        flex-direction: column;
    }

    #haveaccounttext{    
    margin-bottom: -100px;
    }

    .image{
        background-image: url('/public/Images/teafarmer.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 50vh;
        width: 114.3%;
        display: flex;
        align-items: center;
        margin-left: 0px;
    }


.termstext{
    display: flex;
    margin-top: 500px;
    position: absolute;
    left: 10%;
    margin-left: -30px;
}

.signup-container{
    margin-left: 10px;
}

.input{
    padding: 10px;
    border: 1.5px solid;
    border-color: green;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    gap: 20%;
}

#signup{
    background-color: green;
    padding: 10px;
    color: white; 
    width: 50%;
    margin-left: 80px;
    margin-top: 50px;
}

#login-btn{
    margin-left: 70px;
} 

#termsagree{
    font-size: 11.5px;
    margin-top: 2px;
}
}

@media screen and (min-width:361px) and (max-width:480px){
    .container{
        flex-direction: column;
    }

    #haveaccounttext{    
    margin-bottom: -100px;
    }

    .image{
        background-image: url('/public/Images/teafarmer.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 50vh;
        width: 100%;
        display: flex;
        align-items: center;
        margin-left: 0px;
    }


.termstext{
    display: flex;
    margin-top: 500px;
    position: absolute;
    left: 10%;
    margin-left: -15px;
}

.signup-container{
    margin-left: 30px;
}

.input{
    padding: 10px;
    border: 1.5px solid;
    border-color: green;
    align-items: center;
    width: 90%;
    border-radius: 10px;
    gap: 20%;
}

#signup{
    background-color: green;
    padding: 10px;
    color: white; 
    width: 50%;
    margin-left: 80px;
    margin-top: 50px;
}

#login-btn{
    margin-left: 70px;
}
    
}

@media screen and (min-width:481px) and (max-width:680px){  
    .container{
        flex-direction: column;
    }

    #haveaccounttext{    
    margin-bottom: -100px;
    }

    .image{
        background-image: url('/public/Images/teafarmer.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 50vh;
        width: 100%;
        display: flex;
        align-items: center;
        margin-left: 0px;
    }


.termstext{
    display: flex;
    margin-top: 630px;
    position: absolute;
    left: 10%;
    margin-left: -28px;
}

#termsagree{
    font-size: 18px;
}

.signup-container{
    margin-left: 30px;
    font-size: 40px;
}

.input{
    padding: 10px;
    border: 1.5px solid;
    border-color: green;
    align-items: center;
    width: 90%;
    height: 30px;
    border-radius: 10px;
    gap: 20%;
}

#signup{
    background-color: green;
    padding: 10px;
    font-size: 1.5rem;
    color: white; 
    width: 30%;
    margin-left: 150px;
    margin-top: 90px;
}

#login-btn{
    margin-left: 100px;
    font-size: 20px;
}

#checkbox{
    margin-top: 6px;
    width: 15px;
}
}

@media screen and (min-width:681px) and (max-width:880px){
    .container{
        flex-direction: column;
    }

    #haveaccounttext{    
    margin-bottom: -100px;
    }

    .image{
        background-image: url('/public/Images/teafarmer.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 50vh;
        width: 100%;
        display: flex;
        align-items: center;
        margin-left: 0px;
    }


.termstext{
    display: flex;
    margin-top: 640px;
    position: absolute;
    left: 10%;
    margin-left: -15px;
}

#termsagree{
    font-size: 18px;
}

.signup-container{
    margin-left: 30px;
    font-size: 40px;
}

.input{
    padding: 10px;
    border: 1.5px solid;
    border-color: green;
    align-items: center;
    width: 90%;
    height: 40px;
    border-radius: 10px;
    gap: 20%;
}

#signup{
    background-color: green;
    padding: 10px;
    font-size: 1.5rem;
    color: white; 
    width: 30%;
    margin-left: 200px;
    margin-top: 60px;
}

#login-btn{
    margin-left: 160px;
    font-size: 20px;
}

#checkbox{
    margin-top: 6px;
    width: 15px;
}
}


@media screen and (min-width:881px) and (max-width:1020px){
    .container{
        flex-direction: column;
    }

    #haveaccounttext{    
    margin-bottom: -100px;
    }

    .image{
        background-image: url('/public/Images/teafarmer.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 50vh;
        width: 100%;
        display: flex;
        align-items: center;
        margin-left: 0px;
    }


.termstext{
    display: flex;
    margin-top: 720px;
    position: absolute;
    left: 10%;
    margin-left: -15px;
}

#termsagree{
    font-size: 30px;
}

.signup-container{
    margin-left: 30px;
    font-size: 40px;
}

.input{
    padding: 10px;
    border: 1.5px solid;
    border-color: green;
    align-items: center;
    width: 95%;
    height: 60px;
    border-radius: 10px;
    gap: 20%;
}

#signup{
    background-color: green;
    padding: 10px;
    font-size: 1.5rem;
    color: white; 
    width: 30%;
    margin-left: 300px;
    margin-top: 90px;
}

#login-btn{
    margin-left: 230px;
    font-size: 30px;
}

#checkbox{
    margin-top: 15px;
    width: 30px;
}
   
}


@media screen and (min-width:1021px) and (max-width:1280px){
 
}

@media screen and (min-width:1281px) and (max-width:1480px){
    
}

@media screen and (min-width:1280px){
   

}

